# Виртуальное окружение
.venv/
env/

# Кэш Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Логи и временные файлы
*.log
*.tmp
*.swp

# Pytest
.pytest_cache/
pytest_output.txt

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# IDE и редакторы
.vscode/
.idea/
*.iml

# Системные файлы
.DS_Store
Thumbs.db